signal number value : {{numberSignal()}}
<br>
<button (click)="inrementNumberSignal()">Increment Number Signal</button>
<br>
<input ngModel [(ngModel)]="number" type="number">
<br>
<button (click)="setInput1Value()">Set input value</button>
<br>
<button (click)="setObjectSignal()">Change object signal</button>
<br>
{{objectSignal() | json}}
<br>
computed signal : {{computedSignal()}}
<br>
<input ngModel (input)="nameChanged()" [(ngModel)]="name" type="text" placeholder="name">
<input ngModel (input)="surnameChanged()" [(ngModel)]="surname" type="surname" placeholder="name">